#godcard {
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(60px);
  /* fallback for old browsers */
  -webkit-backdrop-filter: blur(60px);
  border-radius: 30px;
}

#hero-img {
  position: absolute;
  margin-top: 231.9px;
  top: 0;
  left: 0;
  width: 100%;
  /* Set the height as needed */
  z-index: -1; /* Place the image behind the content */
}

#card-header {
  background: linear-gradient(
    90deg,
    #ff3bff 0%,
    #ecbfbf 38.02%,
    #5c24ff 75.83%,
    #d94fd5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
}

#open-camera-btn {
  padding: 10px 20px;
  border-radius: 100px;
  border: 2px solid #ff3bff;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
